*{
    padding: 0px;
    margin: 0px;
    color: white;
}
#navbar{
    background-color: #0f0f0f;
    height: 60px;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 250px;
}
#content{
    height: 500px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}